@charset "UTF-8";

body{
    font-size:16px;
    line-height: 1.5;
    color:#424242;    
    font-family: 'Roboto', "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic,'Meiryo UI',Meiryo,"ＭＳ ゴシック",Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.outer{
    padding: 80px 0;
}
.text-center{
    text-align: center;
}
.page-title{
    margin: 40px 0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.box{
    width: 720px;
    margin: 24px auto 64px;
    font-size: 18px;
}
.box-item{
    margin-bottom: 32px;
    height: 50px;
}
.box-title{
    display: inline-block;
    width: 240px;
    text-align: right;
}

.img-wrapper{
    width:120px;
    height: 120px;
    margin: 24px auto 24px;
    position: relative;
}
.img{
    position: absolute;
    bottom: 0;
}

.form-control{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #296ed7;
    box-shadow:0 4px 0 #0a3069;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

.form-control-fake{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #808080;
    box-shadow:0 4px 0 #0a3069;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

.form-control:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    box-shadow:0 #0a3069;
}

.result{
    font-size: 60px;
}

.exp-wrapper{
    width: 540px;
    margin: 100px auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}

.fwb{
    font-weight: bold;
}

.rate{
    font-size: 24px;
}